{% extends 'base.html.twig' %}

{% block title %}Vehicule index{% endblock %}

{% block body %}
    <h1>Vehicule index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Marque</th>
                <th>Modele</th>
                <th>Couleur</th>
                <th>Immatriculation</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vehicule in vehicules %}
            <tr>
                <td>{{ vehicule.id }}</td>
                <td>{{ vehicule.marque }}</td>
                <td>{{ vehicule.modele }}</td>
                <td>{{ vehicule.couleur }}</td>
                <td>{{ vehicule.immatriculation }}</td>
                 <td>{{ vehicule.image }}</td>
                <td>
                    <a href="{{ path('vehicule_show', {'id': vehicule.id}) }}">Voir</a>
                    <a href="{{ path('vehicule_edit', {'id': vehicule.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Pas de vehicules</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
