{% extends 'base.html.twig' %}

{% block title %}Conducteur index{% endblock %}

{% block body %}
<div class = 'container'>
 <h1>Conducteur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for conducteur in conducteurs %}
            <tr>
                <td>{{ conducteur.id }}</td>
                <td>{{ conducteur.prenom }}</td>
                <td>{{ conducteur.nom }}</td>
                <td>
                    <a href="{{ path('conducteur_show', {'id': conducteur.id}) }}">Voir</a>
                    <a href="{{ path('conducteur_edit', {'id': conducteur.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Pas de conduteurs</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{{ include('conducteur/_form.html.twig') }}
</div>
{% endblock %}
